[Desktop Entry]
Version=1.0
Name=Volume Control
GenericName=Volume Control
Comment=Adjust the volume level
Exec=/home/kenji/.local/bin/pavucontrol
Icon=org.pulseaudio.pavucontrol
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;
Keywords=pavucontrol;PulseAudio;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
